.homepage {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/shara\ desert.jpg);
}
nav {
    display: flex;
    width: 30%;
    padding: 20px;
    align-content: center;
    justify-content: space-between;
    position: absolute;
    right: 60px;
    top: 40px;
}
nav>img {
    display: block;
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 8px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
a:hover {
    font-size: 28px;
    text-shadow: 3px 3px rgb(0, 0, 0);
}
.companylogo>img {
    width: 60px;
    height: 60px;
    position: relative;
    top: 50px;
    left: 200px;
}
.locationbox{
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-rows: 280px 280px;
    gap: 30px;
    width: 45%;
    height: 600px;
    position: relative;
    left: 700px;
    top: 70px;
}
.location>img{

    width: 280px;
    height: 280px;
}
.details{
    width: 40%;
    height: 500px;
    position: absolute;
    left: 100px;
    top: 200px;
}
.details h1{
    color: white;
    font-size: 100px;
    height: 60px;
    width: 200px;
}
.details h3{
    border-radius: 20px;
    height: 30px;
    width: 150px;
    background-color: white;
    text-align: center;
    padding-top: 10px;
}